<html ng-app="demoapp">
<head>
	<title>Reddit Analytics</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
	<script type="text/javascript" src="plugins/moment-duration-format.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body ng-controller="MainController">
	<h1>Reddit Analytics</h1>
	<input ng-model="searchtext.text"><button ng-click="setData(searchtext.text)">Get User Data</button>
	<div class="status">{{status_msg}}</div>
	<div id="user_output" ng-show="isloaded">
	<h1>Username: {{searchtext.text}}</h1>
	 <ul>
		 	<li>Username: {{user_data.user_info.name}}</li>
		 	<li>Cake Day: {{user_data.user_info.created|humanize}}</li>
		 	<li>Account Age: {{user_data.user_info.created|humanize:true}}</li>
		 	<li>Link Karma: {{user_data.user_info.link_karma}}</li>
		 	<li>Comment Karma: {{user_data.user_info.comment_karma}}</li>
		</ul>
	</div>


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
 	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="value_configs.js"></script>
  <script type="text/javascript" src="directives.js"></script>
  <script type="text/javascript" src="factories.js"></script>
  <script type="text/javascript" src="filters.js"></script>
</body>
</html>